.box{
    text-align: center;
    display: flex;
    flex-direction: column;
        display: grid;
    grid-template-columns: auto;
}



.tours-section{
    padding-top: 4%;
}
/****** paragraph stsyle */

.tours-section p{
    margin-bottom: 2%;
    font-size: 25px;
}
/****** image stsyle */
 .tours-section  img{
     text-align: center;
    width: 450px;
    max-height: 300px;
    border-radius: 10%;
}
