.box{
    text-align: center;
    display: flex;
    flex-direction: column;
        display: grid;
    grid-template-columns: auto;
}



.tours-section{
    padding-top: 4%;
}
/****** paragraph stsyle */

/* .tours-section p{

} */
/****** image stsyle */
 .tours-section  img{
     text-align: center;
    width: 450px;
    max-height: 300px;
}
