/* 
.header
{
div{
    color: ;
}
display: flex;
justify-content: center;
height: 100px;
background-color: rgb(133, 124, 124);


} */

div {

}

div ul li {

    list-style-type: none;
    
    background-color: rgb(87, 85, 85);
    height: 40px;
    width: 100%;
    text-align: center;
}

div ul {
    display: flex;
    justify-content: center;   
    padding: 10px;
}
a {
    
    color: wheat;
    text-decoration: none;
    color: rgb(222, 207, 207);
}