/* 
.header
{
div{
    color: ;
}
display: flex;
justify-content: center;
height: 100px;
background-color: rgb(133, 124, 124);


} */

div {

    background-color: rgb(133, 124, 124);
}

div ul li {
    list-style-type: none;

    color: black;
    
}

div ul {
    display: flex;
    justify-content: center;
    height: 50px;
    text-align: center;
    padding: 20px;
}