
/**************************************************** footer style *******************************/
/*********************************** section 1 footer *********************************************/
.footer{
    display: flex;
    justify-content: space-between;
    height: 180px;
    background-color: rgb(128, 122, 122);
    max-width: 100%;
}
.section1-footer{
    margin-left: 10%;
    margin-top: 15px;
    
}
.section1-footer p:nth-child(1){
    font-size: 23px;
    margin-top: 10px;
    color: white;
}
.section1-footer p:nth-child(2){
    font-size: 17px;
    margin-top: 10px;
    color: white;
}
.section1-footer p:nth-child(3){
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.section1-footer p:nth-child(4){
    font-size: 18px;
    margin-top: 10px;
    
}
.section1-footer p:nth-child(4) a{
    text-decoration: none;
    color: blue;
}
/**************************************** social media footer right section *******************************/
.social-buttons{
    margin-top: 5%;
    margin-right: 10%;
}
.social-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    height: 60px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
}

.social-buttons a::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #22a6b3, #30336b);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
    transform: scale(0);
}

.social-buttons a i {
    transition: 0.3s ease-in;
}

.social-buttons a:hover i {
    background: linear-gradient(45deg, #22a6b3, #30336b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
}
